.statsWrapper {
  height: 51.1rem;
  background: url(./stats.jpg) center / cover no-repeat;
  position: relative;
  padding: 15rem 0 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

.stats {
  composes: inner from '../LayoutContainer/index.css';
  position: relative;
  display: flex;
  justify-content: space-between;
}
