.btn {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1.75rem 4rem;
  font-weight: bold;
  outline: none;
  transition: color 300ms, background 300ms, border-color 300ms;
}

.primary,
.ghost {
  composes: btn;
}

.primary {
  background: #e74c3c;
  border-color: #e74c3c;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
  &:hover {
    background: color(#e74c3c blackness(20%));
  }
}

.ghost {
  background: transparent;
  border-color: #fff;
}
