.wrapper {
  composes: wrapper from '../LayoutContainer/index.css';
}

.pricing {
  composes: inner from '../LayoutContainer/index.css';
}

.list {
  @media (--noMobile) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -0.8rem;
  }
}
