.wrapper {
  composes: wrapper from "../Page/index.css";
}

.pricing {
  composes: inner from "../Page/index.css";
}

.list {
  @media (--noMobile) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 -0.8rem;
  }
}
