.wrapper {
  composes: wrapper from '../LayoutContainer/index.css';
  background: var(--solitude);
  border-top: 1px solid var(--athensGrey);

  @media (--desktop) {
    padding-bottom: 0;
  }
}

.blog {
  @media (--desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}
