.wrapper {
  composes: wrapper from '../LayoutContainer/index.css';
  border-top: 1px solid var(--athensGrey);
}

.about {
  composes: inner from '../LayoutContainer/index.css';
  display: flex;

  @media (--tablet) {
    flex-direction: column;
  }

  @media (--noMobile) {
    align-items: flex-start;
  }
}

.img {
  @media (--noDesktop) {
    display: none;
  }
}

.content {
  @media (--desktop) {
    padding: 0 0 0 7.5rem;
    width: calc(665 / 1170 * 100%);
  }
}

.title {
  font-size: 3.6rem;
  color: var(--dimGray);
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 0 3.5rem;
  border-left: 6px solid var(--cinnabar);
  margin: 0;
}

.text {
  font-size: 1.4rem;
  color: var(--nobel);
  line-height: 2;
  margin: 3rem 0;
}

.btn {
  composes: primary from '../Button/index.css';
}
