.wrapper {
  background: white;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);

  @media (--mobile) {
    padding: 2rem;
  }

  @media (--noMobile) {
    width: calc(665 / 1170 * 100%);
    border-radius: 0.5rem;
  }

  @media (--tablet) {
    padding: 4rem 2rem;
  }

  @media (--desktop) {
    padding: 10rem;
  }
}

:global(.mui-textfield) {
  margin: 0 0 3rem;
}

:global(.mui-textfield--float-label > label) {
  font-size: 1.4rem;
  color: var(--nobel);
  font-weight: bold;
  overflow: visible;
}
