@import "normalize.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 1rem 'Open Sans';
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

svg {
  fill: currentColor;
}
