.wrapper {
  composes: wrapper from '../LayoutContainer/index.css';
  background: #f4f5f9;
}

.contact {
  composes: inner from '../LayoutContainer/index.css';

  @media (--noMobile) {
    display: flex;
    justify-content: space-between;
  }
}

.aside,
.form {
  background: #fff;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);

  @media (--mobile) {
    padding: 2rem;
  }

  @media (--noMobile) {
    border-radius: 0.5rem;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--mobile) {
    text-align: center;
    margin: 0 0 2rem;
  }

  @media (--noMobile) {
    width: calc(480 / 1170 * 100%);
  }

  @media (--tablet) {
    padding: 0 2rem;
  }

  @media (--desktop) {
    padding: 0 9rem;
  }
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  color: #e74e3e;
  font-size: 2.4rem;
  margin: 0 0 2rem;
  &:not(:first-child) {
    margin-top: 6rem;
  }
}

.text {
  font-size: 1.8rem;
  color: #999;
  margin: 0;
  line-height: 1.4;
}

.textLink {
  color: inherit;
}

.form {
  @media (--noMobile) {
    width: calc(665 / 1170 * 100%);
  }

  @media (--tablet) {
    padding: 4rem 2rem;
  }

  @media (--desktop) {
    padding: 10rem;
  }
}

:global(.mui-textfield) {
  margin: 0 0 3rem;
}

:global(.mui-textfield--float-label > label) {
  font-size: 1.4rem;
  color: #999;
  font-weight: bold;
  overflow: visible;
}
