.wrapper {
  composes: wrapper from '../LayoutContainer/index.css';
  height: 48rem;
  background: url(./promo.jpg) center / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}

.inner {
  composes: inner from '../LayoutContainer/index.css';
  position: relative;
  z-index: 1;
}

.title,
.subtitle {
  color: #fff;
  font-weight: normal;
}

.title {
  font-size: 3.6rem;
  margin: 0.5rem 0;
}

.subtitle {
  font-size: 1.8rem;
  margin: 0.5rem 0 6rem;
}

.btn {
  composes: primary from '../Button/index.css';
}
