.wrapper {
  composes: wrapper from '../LayoutContainer/index.css';
  background: var(--nero);

  @media (--desktop) {
    display: flex;
    padding: 0;
  }
}

.content,
.img {
  @media (--desktop) {
    width: 50%;
  }
}

.img {
  background: url(./services.jpg) center / cover no-repeat;
}

.content {
  @media (--noMobile) {
    text-align: right;
  }

  @media (--desktop) {
    padding: 15rem 0;
  }
}

.title {
  composes: title from '../About/index.css';
  color: white;

  @media (--mobile) {
    margin: 2rem 1.5rem 4rem;
  }

  @media (--noMobile) {
    padding: 0 3.5rem 0 0;
    border-right: 6px solid var(--cinnabar);
    border-left: 0;
  }

  @media (--tablet) {
    margin: 0 13rem 7rem 0;
  }

  @media (--desktop) {
    margin: 0 8rem 7rem 0;
  }
}

.sliderWrapper {
  @media (--noMobile) {
    padding: 0 0 0 5rem;
  }
}

.slider {
  & :global(.slick-slide) {
    @media (--mobile) {
      padding: 0 1.5rem;
    }
  }

  & :global(.slick-list) {
    @media (--desktop) {
      margin: 0 -3.7rem 0 0;
      padding: 0 3.7rem 0 0;
    }
  }

  & :global(.slick-dots) {
    @media (--mobile) {
      left: center;
      bottom: -1rem;
      display: flex !important;
    }

    @media (--noMobile) {
      top: center;
      left: 0;
    }
  }

  & :global(.slick-dots li:not(:first-child)) {
    @media (--mobile) {
      margin-left: 1.1rem;
    }

    @media (--noMobile) {
      margin: 1.1rem 0 0;
    }
  }

  & :global(.slick-dots button) {
    font-size: 0;
    background: var(--charcoal);

    @media (--mobile) {
      height: 0.1rem;
      width: 3.4rem;
    }

    @media (--noMobile) {
      width: 0.1rem;
      height: 3.4rem;
    }
  }

  & :global(.slick-dots .slick-active button) {
    background: var(--cinnabar);

    @media (--mobile) {
      height: 0.2rem;
    }

    @media (--noMobile) {
      width: 0.2rem;
    }
  }
}
