.wrapper {
  background: #202020;

  @media (--desktop) {
    display: flex;
  }
}

.content,
.img {
  @media (--desktop) {
    width: 50%;
  }
}

.img {
  background: url(./services.jpg) center / cover no-repeat;

  @media (--noDesktop) {
    display: none;
  }
}

.content {
  @media (--noMobile) {
    text-align: right;
  }

  @media (--desktop) {
    padding: 15rem 0 8.5rem;
  }
}

.title {
  composes: title from '../About/index.css';
  color: #fff;

  @media (--mobile) {
    margin: 2rem 1.5rem;
  }

  @media (--noMobile) {
    padding: 0 3.5rem 0 0;
    border-right: 6px solid #e74c3c;
    border-left: 0;
  }

  @media (--tablet) {
    margin: 0 13rem 7rem 0;
  }

  @media (--desktop) {
    margin: 0 8rem 7rem 0;
  }
}

.sliderWrapper {
  @media (--noMobile) {
    padding: 0 0 0 5rem;
  }
}

.slider {
  & :global(.slick-slide) {
    @media (--mobile) {
      padding: 0 1.5rem;
    }
  }
  & :global(.slick-list) {
    @media (--desktop) {
      margin: 0 -3.7rem 0 0;
      padding: 0 3.7rem 0 0;
    }
  }
  & :global(.slick-dots) {
    top: center;
    left: 0;
  }
  & :global(.slick-dots li:not(:first-child)) {
    margin: 1.1rem 0 0;
  }
  & :global(.slick-dots button) {
    font-size: 0;
    width: 0.1rem;
    height: 3.4rem;
    background: #3e3e3e;
  }
  & :global(.slick-dots .slick-active button) {
    background: #e74c3c;
    width: 0.2rem;
  }
}
