.wrapper {
  composes: wrapper from '../LayoutContainer/index.css';
}

.features {
  composes: inner from '../LayoutContainer/index.css';
}

.inner {
  @media (--noMobile) {
    display: flex;
    flex-wrap: wrap;
  }
}
