.wrapper {
  @media (--mobile) {
    & + & {
      margin-top: 1.5rem;
    }
  }

  @media (--noMobile) {
    padding: 0 0.8rem;
  }

  @media (--tablet) {
    width: 50%;
  }

  @media (--desktop) {
    width: calc(100% / 3);
  }
}

.inner {
  padding: 0 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f5f9;
}

.primaryWrapper,
.premiumWrapper {
  composes: wrapper;
}

.premiumWrapper {
  @media (--tablet) {
    order: 3;
    margin: 1.6rem 0 0;
  }

  & .header {
    background: #e74c3c;
  }

  & .price {
    color: #e74c3c;
  }
}

.header {
  background: #999;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 0 0 13.5rem;
  margin: 0 0 8.6rem;
}

.title {
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  margin: 5rem 0 0;
  text-transform: uppercase;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15.2rem;
  height: 15.2rem;
  background: #fff;
  border-radius: 50%;
  left: center;
  bottom: -8.6rem;
  color: #999;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.5);
}

.priceText {
  font-size: 1.3rem;
  text-transform: lowercase;
  font-weight: normal;
  color: #999;
}

.list {
  text-align: center;
  margin: 5rem 0;
  padding: 0 1.5rem;
}

.listItem {
  font-size: 1.4rem;
  color: #999;
  line-height: 3;
  text-transform: capitalize;
}

.footer {
  margin: auto 0 0;
}

.primaryBtn {
  composes: gray from '../../Button/index.css';
}

.premiumBtn {
  composes: primary from '../../Button/index.css';
}
