.footerWrapper {
  background: #202020;
  padding: 3.5rem 0;
}

.footer {
  composes: inner from '../LayoutContainer/index.css';
  display: flex;
  align-items: center;
}

.copyright {
  font-size: 1.4rem;
  color: #999;
  margin: 0 0 0 auto;
}
