.wrapper {
  background: var(--nero);
  padding: 3.5rem 0;
}

.footer {
  composes: inner from '../LayoutContainer/index.css';

  @media (--noMobile) {
    display: flex;
    align-items: center;
  }
}

.copyright {
  font-size: 1.4rem;
  color: var(--nobel);

  @media (--mobile) {
    text-align: center;
    margin: 3rem 0 1rem;
  }

  @media (--noMobile) {
    margin: 0 0 0 auto;
  }
}
