.divider {
  margin: 2rem 0;
  text-align: center;
}

.dividerInner {
  width: 0.7rem;
  height: 0.7rem;
  background: var(--cinnabar);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &::before,
  &::after {
    content: '';
    top: center;
    height: 1px;
    width: 8rem;
  }

  &::before {
    right: calc(100% + 1.4rem);
  }

  &::after {
    left: calc(100% + 1.4rem);
  }
}

.dividerInnerGray {
  composes: dividerInner;

  &::before,
  &::after {
    background: var(--nobel);
  }
}

.dividerInnerWhite {
  composes: dividerInner;

  &::before,
  &::after {
    background: white;
  }
}
