.wrapper {
  margin-left: auto;

  @media (--noDesktop) {
    display: none;
  }
}

.nav {
  display: flex;
}

.navItem {
  & + & {
    margin-left: 5rem;
  }
}

.navLink {
  display: block;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #f4f5f9;
  padding: 2rem 0;
  border-bottom: 1px solid transparent;
  transition: border-color 300ms;
  position: relative;
  cursor: pointer;
  &:hover {
    color: transparent;
    border-color: #e74c3c;
  }
  &:hover::before {
    visibility: visible;
  }
  &::before {
    content: attr(data-title);
    visibility: hidden;
    left: center;
    font-weight: bold;
    color: #e74c3c;
    white-space: nowrap;
  }
}
