.navWrapper {
  margin-left: auto;
}

.nav {
  display: flex;
}

.navItem {
  & + & {
    margin-left: 5rem;
  }
}

.navLink {
  display: block;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #f4f5f9;
}
