.wrapper {
  composes: wrapper from '../LayoutContainer/index.css';
  background: #f4f5f9;
}

.list {
  composes: inner from '../LayoutContainer/index.css';
  display: flex;

  @media (--mobile) {
    flex-direction: column;
    align-items: center;
  }

  @media (--noMobile) {
    flex-wrap: wrap;
  }

  @media (--tablet) {
    justify-content: space-around;
  }

  @media (--desktop) {
    justify-content: space-between;
  }
}

.listItem {
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  @media (--mobile) {
    & + & {
      margin-top: 3rem;
    }
  }

  @media (--noMobile) {
    margin: 0 0 3rem;
  }

  @media (--desktop) {
    width: calc(210 / 1170 * 100%);
  }
}
