.wrapper {
  position: relative;
}

.inner {
  height: 100vh;
  overflow: hidden;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

.video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 0 1.5rem;
  color: #fff;
}

.title,
.subtitle {
  text-align: center;
}

.title {
  text-transform: uppercase;
  font-weight: bold;

  @media (--mobile) {
    font-size: 3rem;
  }

  @media (--tablet) {
    font-size: 5rem;
  }

  @media (--noMobile) {
    margin: 4.5rem 0;
  }

  @media (--desktop) {
    font-size: 7.2rem;
  }
}

.subtitle {
  font-size: 2.4rem;
  margin: 0;
  font-weight: normal;

  @media (--mobile400) {
    display: none;
  }
}

.text {
  font-size: 1.4rem;
  line-height: 1.6;
  max-width: 60rem;
  text-align: center;

  @media (--mobile400) {
    display: none;
  }

  @media (--mobile) {
    margin: 2rem 0 4rem;
  }

  @media (--noMobile) {
    margin: 4rem 0 7rem;
  }
}

.footer {
  display: flex;

  @media (--mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.btn {
  @media (--mobile) {
    & + & {
      margin-top: 1.5rem;
    }
  }

  @media (--noMobile) {
    margin: 0 1.5rem;
  }
}

.anchor {
  width: 6.4rem;
  height: 6.4rem;
  background: #f4f5f9;
  border-radius: 50%;
  color: #e74c3c;
  top: calc(100% - 3.2rem);
  left: center;
  box-shadow: 0 0 rgba(232, 76, 61, 0.7);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  cursor: pointer;
  &:hover {
    animation: none;
  }
  & svg {
    top: center;
    left: center;
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

.btn {
  composes: primary from '../Button/index.css';
}
