.wrapper {
  composes: wrapper from '../LayoutContainer/index.css';

  @media (--desktop) {
    padding-bottom: 0;
  }
}

.nav {
  margin: 5rem 0;

  @media (--noMobile) {
    display: flex;
    justify-content: center;
  }
}

.navItem {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--nobel);

  @media (--mobile) {
    text-align: center;

    & + & {
      margin-top: 2rem;
    }
  }

  @media (--noMobile) {
    & + &::before {
      content: '/';
      margin: 0 1.5rem;
    }
  }
}

.navLink {
  color: inherit;
  position: relative;

  &:hover {
    color: white;
  }

  &:hover::before {
    visibility: visible;
  }

  &::before {
    content: attr(data-title);
    visibility: hidden;
    left: center;
    font-weight: bold;
    color: var(--cinnabar);
    white-space: nowrap;
  }
}

.list {
  @media (--noMobile) {
    display: flex;
    flex-wrap: wrap;
  }
}
