.wrapper {
  margin: 4rem 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header {
  composes: inner from '../LayoutContainer/index.css';
  display: flex;
  align-items: center;
}

.logoWrapper {
  @media (--noDesktop) {
    margin-left: auto;
  }
}

.logo {
  display: block;
}
