.wrapper {
  @media (--mobile) {
    position: relative;

    &:hover .content {
      opacity: 1;
    }
  }

  @media (--noMobile) {
    display: flex;
  }

  @media (--tablet) {
    &:nth-child(even) {
      & .img {
        order: 2;
      }

      & .content {
        order: 1;
      }

      & .content::before {
        right: auto;
        left: 100%;
        border-width: 3.5rem 0 3.5rem 2.5rem;
        border-left-color: #e74e3e;
      }
    }
  }

  @media (--desktop) {
    width: 50%;

    &:nth-child(3),
    &:nth-child(4) {
      & .img {
        order: 2;
      }

      & .content {
        order: 1;
      }

      & .content::before {
        right: auto;
        left: 100%;
        border-width: 3.5rem 0 3.5rem 2.5rem;
        border-left-color: #e74e3e;
      }
    }
  }
}

.img,
.content {
  @media (--noMobile) {
    width: 50%;
  }
}

.img {
  background-repeat: no-repeat;
  background-size: cover;

  @media (--mobile) {
    display: block;
    height: 0;
    padding-bottom: 100%;
  }
}

.content {
  color: #fff;
  display: flex;
  flex-direction: column;

  @media (--mobile) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 300ms;
    background: rgba(231, 76, 60, 0.8);
    padding: 3rem;
  }

  @media (--noMobile) {
    padding: 7rem 5rem;
    position: relative;
    background: #e74e3e;

    &::before {
      content: '';
      triangle: pointing-left;
      width: 2.5rem;
      height: 7rem;
      background-color: #e74e3e;
      right: 100%;
      top: center;
    }
  }
}

.category {
  font-size: 1.4rem;
  margin: 0;
}

.title {
  font-size: 2.4rem;
  text-transform: uppercase;
  margin: 3rem 0 5rem;
  padding: 0 0 2rem;
  position: relative;

  &::after {
    content: '';
    width: 4.5rem;
    height: 0.4rem;
    background: #fff;
    left: 0;
    bottom: 0;
    position: absolute;
  }
}

.text {
  font-size: 1.6rem;
  line-height: 1.6;

  @media (--mobile400) {
    display: none;
  }

  @media (--noMobile) {
    margin: 2rem 0 5rem;
  }
}

.footer {
  margin-top: auto;
}

.link {
  font-size: 1.8rem;
  color: #fff;
  text-transform: capitalize;
  border-bottom: 1px solid transparent;
  font-weight: bold;
  font-style: italic;

  &::after {
    content: '»';
    margin-left: 0.5rem;
  }

  &:hover {
    border-color: inherit;
  }
}
