.wrapper {
  text-align: center;
  padding: 5rem 1.5rem 0;
  margin: 0 0 5rem;
}

.title {
  font-size: 3.6rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.titleGray {
  composes: title;
  color: #6a6a6a;
}

.titleWhite {
  composes: title;
  color: #fff;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 2rem 0;
}

.subtitleGray {
  composes: subtitle;
  color: #999;
}

.subtitleWhite {
  composes: subtitle;
  color: #fff;
}
