.item {
  height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &:hover .overlay {
    opacity: 1;
  }

  @media (--mobile) {
    padding-bottom: 100%;
  }

  @media (--noMobile) {
    float: left;
  }

  @media (--tablet) {
    width: 50%;
    padding-bottom: 50%;
  }

  @media (--desktop) {
    width: 25%;
    padding-bottom: 25%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(231, 76, 60, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 500ms;
  cursor: pointer;
  padding: 2rem;

  &:hover {
    color: white;
  }
}

.title {
  font-size: 2.4rem;
  margin: auto 0 1.5rem;
  padding: 2.5rem 0 0;
  position: relative;
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4.5rem;
    height: 0.4rem;
    background: white;
  }
}

.category {
  font-size: 1.4rem;
  margin: 0;
}

.text {
  composes: text from '../../Blog/Post/index.css';
}
